#contents div {
  font-family: helvetica;
  font-size: 16px;
  display: inline;
  margin-right: 20px;
  margin-top: 60px;

}

#contents {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  /*
  질문 

  diplay: block;
  margin: 60px auto;
  하면 왜 img가 가운데 정렬한것 처럼 되지 않나요?

  */
}
  

#title {
  width: 165px;
  height: 58px;
  text-align: center;
  display: block;
  margin: 80px auto;

}

#picture {
  width: 90%;
  height: 90%;
  margin: 0px auto;
  display: block;
}

a {
  text-decoration: none;
  color: #58595B;
}

a:active {
  font-weight: bold;
}


/*해당 아래의 코드로는 왜 가운데 정렬이 안되는지 궁금합니다 */
/* #tilte div{
  margin : 0 auto;
} */
